<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-card color="warning">
    <img src="https://www.worldatlas.com/r/w1200/upload/74/65/8d/shutterstock-739463986.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Philippines</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      The Philippines, officially the Republic of the Philippines, is an archipelagic country in Southeast Asia. It is situated in the western Pacific Ocean and consists of around 7,641 islands that are broadly categorized under three main geographical divisions from north to south: Luzon, Visayas, and Mindanao.
      <br>
      <br>
      <ion-button color="light">Read More...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <img src="https://pbs.twimg.com/profile_images/1451089496364093447/6lYC1u5E_400x400.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">What is the Philippines known for?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      The Philippines is known for having an abundance of beautiful beaches and delicious fruit. The collection of islands is located in Southeast Asia and was named after King Philip II of Spain.
      <br>
      <br>  
      <ion-button color="light">Read More...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <img src="https://2.bp.blogspot.com/-q3ofQ83QP-s/WPnfN18D73I/AAAAAAAAjxI/c5RFeMa0tp0gZzG0vTbzWVNqp_KYn8DsgCLcB/s1600/Mango%2BFestival.JPG" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Why Philippines is very famous?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      The Philippines is also home to world-renowned natural wonders like an underground river and rice terraces, incredible diving spots rich in biodiversity, colorful public transportation in the Philippines, unique cuisine, vibrant festivals that showcase its colorful culture, and friendly locals regarded as some of the happiest in the world.
      <br>
      <br>
      <ion-button color="light">Read More...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <img src="http://filipinoculturejb.weebly.com/uploads/2/7/2/0/27209767/5253921_orig.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Why are Filipinos known as hospitable?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Hospitable – Filipinos are known for being welcoming and friendly. So much respect for the elderlies – One of the Filipino culture and values that locals are very proud of. Pagmamano or kissing the elder's head on the forehead – One of the most important Filipino culture and values.
      <br>
      <br>
      <ion-button color="light">Read More...</ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>
